


h1{
    
    font-size: 50px;
    padding-left: 100px;
   font-family: sans-serif;
}
h3{
    font-size: 23px;
}
p{
    font-size: 20px;
}
.alga{
    color: coral;
}
.div1{width: 50%;
    float: left;
 

}
.button{
    font-weight: 700;
    font-size: 17px;
    font-family: sans-serif;
    color: aliceblue;
   background-color: coral;
  border-radius: 5px;
    padding: 10px 20px 10px 20px;
   text-decoration: none;

}